.redactor_box { float: left; width: 52em; }

form .aligned .redactor_box p, form .aligned .redactor_box ul {
    margin: 0;
    padding: 2px 3px;
}

.redactor_modal_btn {
    padding: 6px 16px 5px 16px !important;
}
